nza/workflows/03_NZA_Import_Mitarbeiter_v2.json
{
  "name": "NZA-Import-Mitarbeiter-v2",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const siteId = process.env.NZA_SITE_ID;\nconst listId = process.env.NZA_MITARBEITER_LIST_ID;\n\nif (!siteId || !listId) {\n  throw new Error('NZA_SITE_ID oder NZA_MITARBEITER_LIST_ID nicht gesetzt!');\n}\n\nconst mitarbeiter = [\n  {\"Title\": \"Schneider, Christoph\", \"Kuerzel\": \"CS\", \"Personalnummer\": \"GF\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Kaufm. GF\", \"Email\": \"c.schneider@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Augst, Christoph\", \"Kuerzel\": \"CA\", \"Personalnummer\": \"GF\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Techn. GF\", \"Email\": \"c.augst@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Vierschilling, Sebastian\", \"Kuerzel\": \"SV\", \"Personalnummer\": \"--\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Prokurist\", \"Email\": \"s.vierschilling@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Loehr, Andreas\", \"Kuerzel\": \"AL\", \"Personalnummer\": \"22330\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"QM & KI-Manager\", \"Email\": \"a.loehr@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Schmidt, Tobias\", \"Kuerzel\": \"TS\", \"Personalnummer\": \"22348\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Einkauf\", \"Email\": \"t.schmidt@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Roetzel, Markus\", \"Kuerzel\": \"MR\", \"Personalnummer\": \"21801\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Mitarbeiter AV\", \"Email\": \"m.roetzel@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Ullsperger, Dirk\", \"Kuerzel\": \"DU\", \"Personalnummer\": \"22331\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Compliance\", \"Email\": \"d.ullsperger@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Schmidt, Andrea\", \"Kuerzel\": \"ASC\", \"Personalnummer\": \"22336\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Verwaltung\", \"Email\": \"a.schmidt@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Reigl, Nadine\", \"Kuerzel\": \"NR\", \"Personalnummer\": \"21280\", \"Abteilung\": \"Verwaltung\", \"KST\": \"Verwaltung\", \"Funktion\": \"Verwaltung\", \"Email\": \"n.reigl@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Duetzer, Marcel\", \"Kuerzel\": \"MD\", \"Personalnummer\": \"20402\", \"Abteilung\": \"1000\", \"KST\": \"1000\", \"Funktion\": \"FL 1000\", \"Email\": \"m.duetzer@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Schwarz, David\", \"Kuerzel\": \"DS\", \"Personalnummer\": \"21930\", \"Abteilung\": \"1000\", \"KST\": \"1000\", \"Funktion\": \"Stv. FL 1000\", \"Email\": \"d.schwarz@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Fehse, Stefan\", \"Kuerzel\": \"SF\", \"Personalnummer\": \"20403\", \"Abteilung\": \"1000\", \"KST\": \"1000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Schmidt, Ulrich\", \"Kuerzel\": \"US\", \"Personalnummer\": \"21922\", \"Abteilung\": \"1000\", \"KST\": \"1000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Viehl, Alexander\", \"Kuerzel\": \"AV\", \"Personalnummer\": \"21931\", \"Abteilung\": \"1000\", \"KST\": \"1000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Stieber, Bettina\", \"Kuerzel\": \"BS\", \"Personalnummer\": \"21902\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"FL 2000/3000\", \"Email\": \"b.stieber@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Roeder, Jessica\", \"Kuerzel\": \"JR\", \"Personalnummer\": \"22302\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Einrichterin 2000\", \"Email\": \"j.roeder@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Buchen, Brigitte\", \"Kuerzel\": \"BUC\", \"Personalnummer\": \"22313\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Harder, Valentina\", \"Kuerzel\": \"HAR\", \"Personalnummer\": \"20740\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Kitschke, Iwona\", \"Kuerzel\": \"KIT\", \"Personalnummer\": \"21122\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Koldys, Weronika\", \"Kuerzel\": \"KOLD\", \"Personalnummer\": \"22321\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Shakel, Rahimulah\", \"Kuerzel\": \"RAH\", \"Personalnummer\": \"22920\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Sergeew, Olga\", \"Kuerzel\": \"SER\", \"Personalnummer\": \"22308\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Satzer Sion, Conny\", \"Kuerzel\": \"SIO\", \"Personalnummer\": \"22323\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Uenal, Ayse\", \"Kuerzel\": \"UEN\", \"Personalnummer\": \"22090\", \"Abteilung\": \"2000\", \"KST\": \"2000\", \"Funktion\": \"Produktion\", \"Email\": \"a.uenal@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Baldus, Iris\", \"Kuerzel\": \"IB\", \"Personalnummer\": \"20196\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Stv. FL 2000/3000\", \"Email\": \"i.baldus@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Ankerstein, Natalia\", \"Kuerzel\": \"ANK\", \"Personalnummer\": \"20165\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Ayaz, Havva\", \"Kuerzel\": \"AYA\", \"Personalnummer\": \"20175\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Giesbrecht, Rita\", \"Kuerzel\": \"GIE\", \"Personalnummer\": \"20710\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Hassel, Nadine\", \"Kuerzel\": \"HAS\", \"Personalnummer\": \"20742\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Lindner, Vivien\", \"Kuerzel\": \"LIN\", \"Personalnummer\": \"22337\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Mohammadi, Roya\", \"Kuerzel\": \"MOH\", \"Personalnummer\": \"22319\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Patz, Raissa\", \"Kuerzel\": \"PAT\", \"Personalnummer\": \"21600\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Reifenrath, Ina\", \"Kuerzel\": \"REI\", \"Personalnummer\": \"22311\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Roettgen, Uli\", \"Kuerzel\": \"ROT\", \"Personalnummer\": \"21800\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Prueffeld\", \"Aktiv\": true},\n  {\"Title\": \"Schmidt, Marianna\", \"Kuerzel\": \"SCH\", \"Personalnummer\": \"21920\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Seval, Arzu\", \"Kuerzel\": \"SEV\", \"Personalnummer\": \"21895\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Weidenmueller, Nadine\", \"Kuerzel\": \"WEID\", \"Personalnummer\": \"22316\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Wittig, Beate\", \"Kuerzel\": \"WIT\", \"Personalnummer\": \"22317\", \"Abteilung\": \"3000\", \"KST\": \"3000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Kandorfer, Stefan\", \"Kuerzel\": \"SK\", \"Personalnummer\": \"21093\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Admin Prueffeld\", \"Email\": \"s.kandorfer@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Reuber, Daniela\", \"Kuerzel\": \"DR\", \"Personalnummer\": \"21114\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"FL 5000\", \"Email\": \"d.reuber@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Dieler, Torsten\", \"Kuerzel\": \"TD\", \"Personalnummer\": \"21118\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Kaczynski, Wojciech\", \"Kuerzel\": \"WK\", \"Personalnummer\": \"21090\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Lager\", \"Email\": \"w.kaczynski@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Langenbach, Jens\", \"Kuerzel\": \"JL\", \"Personalnummer\": \"21180\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Pawelka, Birgit\", \"Kuerzel\": \"BP\", \"Personalnummer\": \"21602\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Petschulat, Esmira\", \"Kuerzel\": \"EP\", \"Personalnummer\": \"21610\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Petzke, Torsten\", \"Kuerzel\": \"TP\", \"Personalnummer\": \"21605\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Reifenrath, Nina\", \"Kuerzel\": \"NRR\", \"Personalnummer\": \"21298\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Schlawin, Sebastian\", \"Kuerzel\": \"SS\", \"Personalnummer\": \"21912\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Produktion\", \"Aktiv\": true},\n  {\"Title\": \"Schuuermann, Jonas\", \"Kuerzel\": \"JS\", \"Personalnummer\": \"22495\", \"Abteilung\": \"5000\", \"KST\": \"5000\", \"Funktion\": \"Prueffeld\", \"Aktiv\": true},\n  {\"Title\": \"Kuh, Olaf\", \"Kuerzel\": \"OK\", \"Personalnummer\": \"22333\", \"Abteilung\": \"Lager\", \"KST\": \"Lager\", \"Funktion\": \"Lagerleiter\", \"Email\": \"o.kuh@schneider-kabelsatzbau.de\", \"Aktiv\": true},\n  {\"Title\": \"Bunsen, Bjoern\", \"Kuerzel\": \"BB\", \"Personalnummer\": \"22334\", \"Abteilung\": \"Lager\", \"KST\": \"Lager\", \"Funktion\": \"Lager\", \"Aktiv\": true},\n  {\"Title\": \"Henrichs, Frank\", \"Kuerzel\": \"FH\", \"Personalnummer\": \"20795\", \"Abteilung\": \"Lager\", \"KST\": \"Lager\", \"Funktion\": \"Lager\", \"Aktiv\": true}\n];\n\nreturn mitarbeiter.map(ma => ({ json: { siteId, listId, fields: ma } }));"
      },
      "id": "prepare-data",
      "name": "Prepare Mitarbeiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.siteId }}/lists/{{ $json.listId }}/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"fields\": {{ JSON.stringify($json.fields) }} }",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "create-item",
      "name": "Create Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "microsoftOAuth2Api": { "id": "Fm3IuAbVYBYDIA4U", "name": "Microsoft account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst created = results.filter(r => r.json.id).length;\nconst errors = results.filter(r => !r.json.id).length;\nreturn [{ json: { summary: created + ' Mitarbeiter importiert, ' + errors + ' Fehler', total: results.length, created, errors } }];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Prepare Mitarbeiter", "type": "main", "index": 0 }]] },
    "Prepare Mitarbeiter": { "main": [[{ "node": "Create Item", "type": "main", "index": 0 }]] },
    "Create Item": { "main": [[{ "node": "Summary", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
