rms/workflows/RMS-Generate-Formblatt-FINAL.json
{"name": "RMS-Generate-Formblatt", "nodes": [{"parameters": {"httpMethod": "POST", "path": "rms-generate-formblatt", "responseMode": "responseNode", "options": {}}, "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 300], "webhookId": "rms-generate-formblatt", "id": "webhook-1"}, {"parameters": {"jsCode": "// Prepare Variables\nconst body = $json.body || $json;\n\n// Formulartyp-Mapping\nconst formTypeMappings = {\n    'F_QM_02': 'f_qm_02_qualitaetsabweichung/FQM02_Qualitaetsabweichung.xlsx',\n    'F_QM_03': 'f_qm_03_8D_Report/FQM03_8D_Report.xlsx',\n    'F_QM_04': 'f_qm_04_nza/FQM04_NZA.xlsx',\n    'F_QM_14': 'f_qm_14_korrekturmassnahme/FQM14_Korrekturmassnahmen.xlsx'\n};\n\nconst formularTyp = body.formularTyp || 'F_QM_02';\nconst templatePath = formTypeMappings[formularTyp];\nconst qaId = body.qaId || 'UNKNOWN';\nconst year = qaId.split('-')[1]?.substring(0, 2) || '26';\nconst fullYear = '20' + year;\n\n// Daten fuer Formular aufbereiten\nconst reklaData = body.reklamationsDaten || {};\nconst formData = {\n    abweichungs_nr: qaId,\n    qa_id: qaId,\n    km_nr: qaId,\n    nza_nr: qaId,\n    datum: new Date().toISOString().split('T')[0],\n    lieferant_firma: reklaData.Absender || reklaData.Lieferant || '',\n    artikel_bezeichnung: reklaData.Title || '',\n    beschreibung: reklaData.Beschreibung || '',\n    abweichung: reklaData.Beschreibung || '',\n    fehler_beschreibung: reklaData.Beschreibung || '',\n    d2_problembeschreibung: reklaData.Beschreibung || '',\n    ersteller: body.ersteller || 'System',\n    kunde: reklaData.Kunde || reklaData.Absender || '',\n    bezug_reklamation: qaId\n};\n\nreturn {\n    qaId,\n    fullYear,\n    formularTyp,\n    templatePath,\n    formData,\n    outputFilename: `${formularTyp}_${qaId}`\n};"}, "name": "Prepare Variables", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300], "id": "prepare-1"}, {"parameters": {"method": "GET", "url": "=https://graph.microsoft.com/v1.0/sites/rainerschneiderkabelsatz.sharepoint.com,2881519a-a447-45b1-a870-9df715ee7313,b5136f46-5d8e-45ef-9a99-fa2e6fb58b5c/drive/root:/Formular-Vorlagen/{{ $json.templatePath }}:/content", "authentication": "predefinedCredentialType", "nodeCredentialType": "microsoftOAuth2Api", "options": {"response": {"response": {"responseFormat": "file"}}}}, "name": "Download Template", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "id": "download-1", "credentials": {"microsoftOAuth2Api": {"id": "Fm3IuAbVYBYDIA4U", "name": "Microsoft account"}}}, {"parameters": {"jsCode": "// Convert binary to base64 for the service\nconst vars = $('Prepare Variables').item.json;\n\n// In n8n, we need to access the binary buffer properly\nconst item = $input.first();\nconst binaryKey = Object.keys(item.binary || {})[0];\n\nif (!binaryKey) {\n    throw new Error('No binary data found in input');\n}\n\n// Get the binary buffer and convert to base64\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst templateBase64 = binaryBuffer.toString('base64');\n\nreturn {\n    templateBase64,\n    formData: vars.formData,\n    formularTyp: vars.formularTyp,\n    outputFilename: vars.outputFilename,\n    qaId: vars.qaId,\n    fullYear: vars.fullYear\n};"}, "name": "Prepare Service Call", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [910, 300], "id": "prep-service-1"}, {"parameters": {"method": "POST", "url": "http://172.19.0.1:5050/generate", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"template\": \"{{ $json.templateBase64 }}\",\n  \"data\": {{ JSON.stringify($json.formData) }},\n  \"formType\": \"{{ $json.formularTyp }}\",\n  \"outputName\": \"{{ $json.outputFilename }}\"\n}", "options": {"timeout": 120000}}, "name": "Generate PDF", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1130, 300], "id": "generate-1"}, {"parameters": {"jsCode": "// Prepare files for upload\nconst result = $json;\nconst vars = $('Prepare Variables').item.json;\n\nif (!result.success) {\n    throw new Error('PDF generation failed: ' + (result.error || 'Unknown error'));\n}\n\nreturn {\n    pdfBase64: result.pdf,\n    xlsxBase64: result.xlsx,\n    pdfFilename: result.pdfFilename,\n    xlsxFilename: result.xlsxFilename,\n    qaId: vars.qaId,\n    fullYear: vars.fullYear,\n    outputFilename: vars.outputFilename,\n    formularTyp: vars.formularTyp\n};"}, "name": "Prepare Upload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1350, 300], "id": "prep-upload-1"}, {"parameters": {"method": "PUT", "url": "=https://graph.microsoft.com/v1.0/sites/rainerschneiderkabelsatz.sharepoint.com,2881519a-a447-45b1-a870-9df715ee7313,b5136f46-5d8e-45ef-9a99-fa2e6fb58b5c/drive/root:/{{ $json.fullYear }}/{{ $json.qaId }}/{{ $json.pdfFilename }}:/content", "authentication": "predefinedCredentialType", "nodeCredentialType": "microsoftOAuth2Api", "sendBody": true, "contentType": "raw", "rawContentType": "application/pdf", "body": "={{ Buffer.from($json.pdfBase64, 'base64') }}", "options": {}}, "name": "Upload PDF", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1570, 300], "id": "upload-pdf-1", "credentials": {"microsoftOAuth2Api": {"id": "Fm3IuAbVYBYDIA4U", "name": "Microsoft account"}}}, {"parameters": {"method": "PUT", "url": "=https://graph.microsoft.com/v1.0/sites/rainerschneiderkabelsatz.sharepoint.com,2881519a-a447-45b1-a870-9df715ee7313,b5136f46-5d8e-45ef-9a99-fa2e6fb58b5c/drive/root:/{{ $('Prepare Upload').item.json.fullYear }}/{{ $('Prepare Upload').item.json.qaId }}/{{ $('Prepare Upload').item.json.xlsxFilename }}:/content", "authentication": "predefinedCredentialType", "nodeCredentialType": "microsoftOAuth2Api", "sendBody": true, "contentType": "raw", "rawContentType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "body": "={{ Buffer.from($('Prepare Upload').item.json.xlsxBase64, 'base64') }}", "options": {}}, "name": "Upload XLSX", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1790, 300], "id": "upload-xlsx-1", "credentials": {"microsoftOAuth2Api": {"id": "Fm3IuAbVYBYDIA4U", "name": "Microsoft account"}}}, {"parameters": {"jsCode": "// Final Response\nconst vars = $('Prepare Upload').item.json;\nconst siteUrl = 'https://rainerschneiderkabelsatz.sharepoint.com/sites/RMS';\n\nreturn {\n    success: true,\n    qaId: vars.qaId,\n    formularTyp: vars.formularTyp,\n    pdfUrl: `${siteUrl}/Freigegebene%20Dokumente/${vars.fullYear}/${vars.qaId}/${vars.pdfFilename}`,\n    xlsxUrl: `${siteUrl}/Freigegebene%20Dokumente/${vars.fullYear}/${vars.qaId}/${vars.xlsxFilename}`,\n    message: `${vars.formularTyp} erfolgreich erstellt`\n};"}, "name": "Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2010, 300], "id": "response-1"}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}"}, "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2230, 300], "id": "respond-1"}], "connections": {"Webhook": {"main": [[{"node": "Prepare Variables", "type": "main", "index": 0}]]}, "Prepare Variables": {"main": [[{"node": "Download Template", "type": "main", "index": 0}]]}, "Download Template": {"main": [[{"node": "Prepare Service Call", "type": "main", "index": 0}]]}, "Prepare Service Call": {"main": [[{"node": "Generate PDF", "type": "main", "index": 0}]]}, "Generate PDF": {"main": [[{"node": "Prepare Upload", "type": "main", "index": 0}]]}, "Prepare Upload": {"main": [[{"node": "Upload PDF", "type": "main", "index": 0}]]}, "Upload PDF": {"main": [[{"node": "Upload XLSX", "type": "main", "index": 0}]]}, "Upload XLSX": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}, "Response": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}