rms/workflows/RMS-Update-Massnahme.json
{
  "name": "RMS-Update-Massnahme",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "rms-update-massnahme",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "rms-update-massnahme"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/sites/rainerschneiderkabelsatz.sharepoint.com,2881519a-a447-45b1-a870-9df715ee7313,b5136f46-5d8e-45ef-9a99-fa2e6fb58b5c/lists/3768f2d8-878c-4a5f-bd52-7486fe93289d/items/{{ $json.body.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftEntraOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: $json.body.fields }) }}"
      },
      "id": "update-massnahme",
      "name": "Update Massnahme",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "microsoftEntraOAuth2Api": {
          "id": "Fm3IuAbVYBYDIA4U",
          "name": "Microsoft Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json;\n\nreturn {\n  success: true,\n  message: 'Massnahme aktualisiert',\n  id: inputData.id,\n  updatedFields: Object.keys($input.first().json.body?.fields || {})\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Massnahme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Massnahme": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "RMS"
    }
  ],
  "meta": {
    "instanceId": "osp-server"
  }
}
