nza/workflows/phase4/NZA-Bilder-List.json
{
  "name": "NZA-Bilder-List",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nza-bilder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nza-bilder-list"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $env.NZA_SITE_ID }}/lists/{{ $env.NZA_BILDER_LIST_ID }}/items?$expand=fields&$top=100{{ $('Webhook').first().json.query.nzaId ? \"&$filter=fields/NZA_ID eq '\" + $('Webhook').first().json.query.nzaId + \"'\" : '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "get-bilder",
      "name": "GET Bilder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "5ZmmOyK1L7PhkJW2",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.value || [];\n\nconst bilder = items.map(item => {\n  const f = item.fields || {};\n  return {\n    id: item.id,\n    nzaId: f.NZA_ID,\n    titel: f.Title,\n    bildUrl: f.Bild_URL,\n    thumbnailUrl: f.Bild_Thumbnail || f.Bild_URL,\n    kategorie: f.Kategorie || 'Fehlerbild',\n    bemerkung: f.Bemerkung || '',\n    hochgeladenVon: f.Hochgeladen_Von,\n    hochgeladenAm: f.Hochgeladen_Am || item.createdDateTime\n  };\n});\n\nreturn [{ json: { bilder, count: bilder.length } }];"
      },
      "id": "transform",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET Bilder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Bilder": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}