nza/workflows/phase4/NZA-Prozesse-Update.json
{
  "name": "NZA-Prozesse-Update",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "nza-prozesse",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nza-prozesse-update"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst itemId = body.id;\n\nif (!itemId) {\n  throw new Error('Item-ID fehlt!');\n}\n\nconst fields = {};\nif (body.status) fields.status = body.status;\nif (body.beschreibung) fields.field_14 = body.beschreibung;\nif (body.bemerkungen) fields.field_16 = body.bemerkungen;\nif (body.typ) fields.field_1 = body.typ;\nif (body.kst) fields.field_9 = body.kst;\n\nreturn [{ json: { itemId, fields } }];"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $env.NZA_SITE_ID }}/lists/{{ $env.NZA_KPL_LIST_ID }}/items/{{ $json.itemId }}/fields",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fields) }}",
        "options": {}
      },
      "id": "update-item",
      "name": "Update Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "5ZmmOyK1L7PhkJW2",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'NZA aktualisiert' } }];"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Update Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}