nza/workflows/phase4/NZA-Prozesse-List.json
{
  "name": "NZA-Prozesse-List",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nza-prozesse",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nza-prozesse-list"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $env.NZA_SITE_ID }}/lists/{{ $env.NZA_KPL_LIST_ID }}/items?$expand=fields&$top=200&$orderby=createdDateTime desc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "get-items",
      "name": "GET Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "5ZmmOyK1L7PhkJW2",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.value || [];\n\nconst result = items.map(item => {\n  const f = item.fields || {};\n  return {\n    id: item.id,\n    nzaId: f.Title,\n    typ: f.field_1,\n    datum: f.field_2,\n    artikel: f.field_3,\n    betriebsauftrag: f.field_4,\n    pruefmenge: f.field_5,\n    davonNio: f.field_6,\n    verursacher: f.field_7,\n    verursacherPersNr: f.field_8,\n    kst: f.field_9,\n    qaId: f.field_10,\n    beschreibung: f.field_14,\n    kategorien: f.field_15 ? (Array.isArray(f.field_15) ? f.field_15 : [f.field_15]) : [],\n    bemerkungen: f.field_16,\n    status: f.status || 'Neu',\n    kostenMaterial: f.field_65 || 0,\n    kostenSonstige: f.field_17 || 0,\n    kostenProzesse: f.kosten_prozesse || 0,\n    kostenGesamt: f.kosten_gesamt || 0,\n    prozesse: [\n      { prozess: f.field_19, werker: f.field_20, kst: f.kostenstelle_1, zeit: f.field_22 },\n      { prozess: f.field_24, werker: f.field_25, kst: f.kostenstelle_2, zeit: f.field_27 },\n      { prozess: f.field_29, werker: f.field_30, kst: f.kostenstelle_3, zeit: f.field_32 },\n      { prozess: f.field_34, werker: f.field_35, kst: f.kostenstelle_4, zeit: f.field_37 },\n      { prozess: f.field_39, werker: f.field_40, kst: f.kostenstelle_5, zeit: f.field_42 }\n    ].filter(p => p.prozess || p.zeit > 0)\n  };\n});\n\nreturn [{ json: { items: result, count: result.length } }];"
      },
      "id": "transform",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Items": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}